@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
/* line 4, /Users/bcardiff/Work/Family/bren/desgraciadas/web/source/css/site.scss */
.title h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 3.5em;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 0px 3px 4px #333333; }

/* line 14, /Users/bcardiff/Work/Family/bren/desgraciadas/web/source/css/site.scss */
#fb {
  background: url("/img/fb-logo.png");
  width: 48px;
  height: 48px;
  display: block; }
  /* line 19, /Users/bcardiff/Work/Family/bren/desgraciadas/web/source/css/site.scss */
  #fb:hover {
    background-position: 0px -48px; }

@media (max-width: 700px) {
  /* line 25, /Users/bcardiff/Work/Family/bren/desgraciadas/web/source/css/site.scss */
  .title h1 {
    font-size: 2em; } }
/* line 30, /Users/bcardiff/Work/Family/bren/desgraciadas/web/source/css/site.scss */
body {
  background-color: #f2f2f2;
  background-image: url("/img/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }

/* line 38, /Users/bcardiff/Work/Family/bren/desgraciadas/web/source/css/site.scss */
#cntdwn {
  width: 100%;
  display: block;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 0px 3px 4px #333333; }
  /* line 45, /Users/bcardiff/Work/Family/bren/desgraciadas/web/source/css/site.scss */
  #cntdwn:after {
    content: ' No te lo pierdas.';
    white-space: nowrap; }

/* line 51, /Users/bcardiff/Work/Family/bren/desgraciadas/web/source/css/site.scss */
a {
  color: #f2f2f2;
  text-shadow: 0px 3px 4px #333333;
  text-decoration: none; }
  /* line 55, /Users/bcardiff/Work/Family/bren/desgraciadas/web/source/css/site.scss */
  a:hover {
    color: #cbcbcb; }
