---
title: Desgraciadas con Suerte
---

<div class="title">
  <h1>Desgraciadas</h1>
  <h1>con Suerte</h1>
</div>

<script language="JavaScript">
TargetDate = "22/Sep/2013 10:00 PM UTC-0300";
CountActive = true;
CountStepper = -1;
LeadingZero = false;
DisplayFormat = "Arrancamos en %%H%% horas, %%M%% minutos, %%S%% segundos.";
FinishMessage = "";
</script>
<script language="JavaScript" src="/js/countdown.js"></script>

<div style="position: absolute; bottom: 194px; right: 6px;">
  <a href="http://www.facebook.com/Desgraciadasconsuerte" target="_blank" id="fb"></a>
</div>

<div style="position: absolute; bottom: 0;left: 0; right: 0;">
  <iframe src="http://mixlr.com/desgraciadas/embed?autoplay=true" width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>
</div>
